<footer class="container-fluid mt-5 text-center">
    <p class="text-muted">
        <small>
            &copy; {{'now'|date('Y')}} &middot;
            Construit avec <span class="text-danger">&hearts;</span> par <a href="#">Cissé Oumar.</a>
        </small>
    </p>
</footer>