@import "~bootstrap/scss/bootstrap";

@import "shared/variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




body {
    background-color: lightgray;
    font-family: $primary-font, sans-serif;
}
// start  flashes stylisation
.alert{
    padding: 10px;
    color:white;
    text-align: center;
    &.alert-success{
        background-color: green;
    }
    &.alert-danger{
        background-color: red;
    }
    &.alert-info{
        background-color: royalblue;
    }
}

.edit .vich-image a {
    @extend .w-100 , .overflow-hidden;
}

//End flashes stylisation
.vich-image {

    .custom-file {
        @extend .mb-3;     
    }
    
    img{

        @extend .shadow;
        @extend .img-thumbnail;

    }
}

.pin img{
    &:hover{
        transform: scale(1.090);
    }
    transition: transform 0.3s ease-out;
}
